 .LoginPage {
  padding-top: 100px;
}
/*
.SignupPage {
  padding-top: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 80px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-top: 1.5px solid #002922;
  padding: 0 50px;
  color: #002922;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.about {
  position: fixed;
  color:white;
  font:bolder;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 200px;
  padding-block: 200px;
}

.worker{
  top: 10%;
  height: 200px;
  width: 200px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1100px;
}

.abouttext{
  border:#ffffff
}

.button{
  align-items: flex-start;
  margin-left:1100px;
}

.background {
  position: fixed;
  top: 100px; /* Adjusted from margin-top */
  /* left: 0;
  height: calc(100% - 100px); Adjusted to account for margin-top */
  /* width: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: rgb(8, 188, 196);
  padding-top: 5vw;
  padding-bottom: 30vw;
  z-index: 0;
} */

/* .today{
  position: absolute; 
  top: 20%; 
  right: 20px; 
  transform: translateY(-50%); 
  font-size: 60px;
  font:bolder;
  color:white;
} */

/* .homepagetext {
  position: absolute; 
  top: 30%; 
  right: 20px; 
  transform: translateY(-50%); 
  font-size: 45px;
  color:white;
} */

/* .homebutton {
  position: absolute;  
  top: 500px; 
  left: 2100px; 
  transform: translateY(-50%);
  color: #002922;
  font-size: 150px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: 8px 8px 0px #002922;
  transition: all .1s;
  cursor: pointer;
  padding: 30px; 
} */

/* body {
  margin: 0;
  padding: 0;
} */ 

